<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AmbiWave</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='CSS/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Bootstrap/bootstrap.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static',filename='JS/basic.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="{{ url_for('static',filename='JS/bootstrap.js') }}" ></script>
    {% block css %}{% endblock %}
</head>
<body>
    <div class="top">
        <span class="a">
            <div class="toplogo">AmbiWave</div>
        </span>
        <span class="b">Witaj <b>Tutaj nick bedzie</b></span>
        <span class="c">
            <form method="post">
      	        <button type="submit" class="btn btn-primary" name="logout">Wyloguj</button>
    	    </form>
        </span>
  	</div>

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='JS/bootstrap.js') }}" ></script>
    <script src="{{ url_for('static',filename='JS/basic.js') }}"></script>

    {% block js %}{% endblock %}
</body>