{% extends "basic.html" %}

<!-- Config -->
{% block title %}Favorite{% endblock %}
{% block file %}favorite{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/favorite.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="songs coll">
        {% if token %}
            <div class="headtxt"><i class="fas fa-heart hdtxt"></i>Ulubione utwory użytkownika <b>{{ Name }}</b></div>
        {% else %}
            <div class="headtxt"><i class="fas fa-heart hdtxt"></i>Ulubione utwory</div>
        {% endif %}
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Time</th>
                    <th scope="col">Play</th>
                    <th scope="col">Favorite</th>
                </tr>
            </thead>
            <tbody>
                {% for Data in SongsList %}
                    <tr>
                        <th scope="row">{{ Data[0][0] }}</th>
                        <td>{{ Data[0][1] }}</td>
                        <td>{{ Data[0][2] }}</td>
                        <td>{{ Data[0][3] }}</td>
                        <td><i class="fas fa-play" onclick="player_change('/static/Songs/{{ Data[0][4] }}');"></i></td>
                        <td><i class="fas fa-heart" onclick="favorite('{{ Data[0][0] }}');"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="share">
        <div class="sharebutn">Podziel się swoją listą ze znajomymi:
        <input type="text" value="{{ request.url }}/{{ Token }}" id="shareid"><i id="cp" class="fas fa-copy" onclick="clipcopy()"></i> </div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Posłuchaj moich ulubionych utworów w aplikacji AmbiWave!" data-lang="pl" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}