<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{#<script src="{{ url_for('static',filename='JS/basic.js') }}"></script>#}

{# <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/index.css') }}">#}

{#    <form method="post">#}
{#        <div class="form-group">#}
{#          <input type="email" class="" id="login_mail" placeholder="Adres e-mail">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <input type="password" class="" id="login_password" placeholder="Hasło">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-own"><span>Zatwierdz</span> </button>#}
{#    </form>#}